<form action="/note/" method="POST">
    <input type="text" name="title" id="title" placeholder="titre">
    <input type="text" name="author" id="author" placeholder="id">
    <select name="priority" id="priority">
        <option value="urgent">Low</option>
        <option value="urgent">medium</option>
        <option value="urgent">high</option>
    </select>
    <textarea name="note" id="note" cols="30" rows="10" placeholder="note"></textarea>
    <br><input type="submit" value="soumettre">
</form>